<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Portal</title>
</head>
<body>
    <h1>Welcome to Campus Portal</h1>
    <p>Search for a student to view their courses and grades.</p>
    <form action="/student" method="post">
        <label for="student_name">Enter Student Name:</label>
        <input type="text" id="student_name" name="student_name" required>
        <input type="submit" value="Search">
    </form>
</body>
</html>